<!DOCTYPE html>
<html>

<head>
    <title>Online shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
        $(function () {
            $("a").click(function () {
                $("a").each(function () {
                    $(this).removeClass("active");
                });
                $(this).addClass("active");
            });
        });
    </script>

    <script src="views/js/login.js"></script>
</head>

<body style="margin:0;">
    <header margin=0>
        <div class="container-fluid p-0">
            <div class="col p-0">
                <nav class="shadow-sm navbar fixed-top navbar-expand-sm navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="index.php?page=home">
                            <img class="img-fluid" src="assets/images/logoEng.PNG" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav" id="nav_menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      DB Search
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item"  href="index.php?page=home">Search Product</a>
                                      <a class="dropdown-item" href="index.php?page=category">Category</a>
                                    </div>
                                  </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.php?page=report" id="report">Product report</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.php?page=insert" id="insert" style="display:none">Insert Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.php?page=edit" id="edit" style="display:none">Edit Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.php?page=delete" id="delete" style="display:none">Delete Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.php?page=promote" id="promote" style="display:none">Promote admin</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto" id="nav_menu">
                                <a class="dropdown-item text-white bg-primary mr-5 " id="login" role="button"
                                    href="index.php?page=login">Sign
                                    In</a>
                                <a class="dropdown-item text-white bg-primary mr-5 " id="signup" role="button"
                                href="index.php?page=signup">Sign
                                    up</a>
                                <a class="dropdown-item text-white bg-primary mr-5 " id="logout" onclick='document.cookie = "username=John Doe; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";
                                                                                                        document.cookie = "role=1; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/";' role="button"
                                    href="" style="display:none;">Sign
                                        out</a>    
                                <a id="user" href=""
                                    class="nav-link p-3 text-primary" style="display: none;"
                                    aria-expanded="true">Welcome, guest</a>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container" style="margin-top:100px">
                </div>
            </div>
        </div>
    </header>