<head>
  <script src="views/js/category.js"></script>
</head>
<div class="row">
  <form class="container pr-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Product</label>
      <div class="row">
        <div class="col-4" id="livesearch">
          <div class="row">
            <input class="form-control" id="categoryip" onkeyup="getProductList()" placeholder="Enter Product">
          </div>
        </div>
        <div class="col-4">
          <table class="table container">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Brand</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="pd1"></th>
                <td id="pd2"></td>
                <td id="pd3"></td>
                <td id="pd4"></td>
                <td id="pd5"></td>
                <td id="pd6"></td>
              </tr>
        
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </form>
</div>
