<head>
  <script src="views/js/category.js"></script>
</head>
<form class="container pr-2">
  <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <input class="form-control" id="categoryip" placeholder="Enter Category">
        </div>
        <div class="row shadow-sm">
          <a class="" id="categoryip" placeholder="Enter Category"> Test </a>
        </div>
        <div class="row shadow-sm">
          <a class="" id="categoryip" placeholder="Enter Category"> Test </a>
        </div>
        <div class="row shadow-sm">
          <a class="" id="categoryip" placeholder="Enter Category"> Test </a>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-success bg-primary" onclick="getProductList()">Search</button>
      </div>
    </div>

  </div>
</form>