<head>
  <script src="views/js/report.js"></script>
</head>
<div class="row">
  <form class="container pr-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Simple report</label>
      <div class="row">
        <table class="table container">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Number of Products</th>
            </tr>
          </thead>
          <tbody name="tableReport">
          </tbody>
        </table>
        <!-- <div class="col-4">

        </div>
      </div> -->

    </div>
  </form>
</div>
